# jinja cinder configuration template

{% for (key, value) in nodes.controller.storage_volume.config.cinder[product.full_version].iteritems() %}
[{{ key }}]
{% for (subkey, subvalue) in value.iteritems() %}
{{ subkey }}={{ subvalue }}
{% endfor %}
{% endfor %}
