<?xml version='1.0' encoding='UTF-8'?>
<EMC>
<StorageType>OpenStack</StorageType>
<EcomServerIp>{{ nodes.controller.storage_volume.config.cinder.emc.ecomserverip }}</EcomServerIp>
<EcomServerPort>{{ nodes.controller.storage_volume.config.cinder.emc.ecomserverport }}</EcomServerPort>
<EcomUserName>{{ nodes.controller.storage_volume.config.cinder.emc.ecomusername }}</EcomUserName>
<EcomPassword>{{ nodes.controller.storage_volume.config.cinder.emc.ecompassword }}</EcomPassword>
</EMC>