class {"keystone":
    admin_token => "a71b19169c1f447fb40ae29b46c13fdf",
    sql_connection => "mysql://keystone_admin:{{ installer.password }}@{{ ansible_default_ipv4.address }}/keystone",
    token_format => "PKI",
    verbose => true,
    debug => true,
}

class {"keystone::roles::admin":
    email => "test@test.com",
    password => "{{ installer.password }}",
    admin_tenant => "admin"
}

class {"keystone::endpoint":
    public_address  => "{{ ansible_default_ipv4.address }}",
    admin_address  => "{{ ansible_default_ipv4.address }}",
    internal_address  => "{{ ansible_default_ipv4.address }}",
}
