[apevec-EL7-test-reqs]
name=Copr repo for EL7-test-reqs owned by apevec
baseurl=https://copr-be.cloud.fedoraproject.org/results/apevec/EL7-test-reqs/epel-7-$basearch/
skip_if_unavailable=True
gpgcheck=0
gpgkey=https://copr-be.cloud.fedoraproject.org/results/apevec/EL7-test-reqs/pubkey.gpg
enabled=1
