nova.ini
nosetests.xml
bugzilla.ini
ansible.cfg
group_vars/all
settings.yml
repo_settings.yml
job_settings.yml
nodes.yml
#*hosts
*.py[co]
inventory*
# Sublime projects
*.sublime-*
archive.*
local_settings.sh
*.pem
collected_files/
teardown.txt
*.egg-info/
#kytoon
tmp/
# Vagrant
.vagrant/
#ansible ssh config
ssh.config.ansible
stackrc
id_rsa*
