# With Ansible 1.8, you should be able use this file directly. Ansible 1.7.2
# doesn't seem to expand the environment variables ($VIRTUAL_ENV). So you have 
# to do it yourself, or let bash do it for you (: .

[defaults]
host_key_checking = False

#The roles_path allows us to keep the root of khaleesi "clean", and put playbooks in a subdirectory without needing to use relative paths for the roles.
roles_path = roles

library = library:$VIRTUAL_ENV/lib/python2.7/site-packages/ansible/modules

lookup_plugins = lookups
callback_plugins = ./plugins/callbacks
filter_plugins = ./plugins/filters

