<network>
  <name>{{ provisioner.networks.provisioning.name }}</name>
  <ip address="{{ provisioner.networks.provisioning.ip_address }}" netmask="{{ provisioner.networks.provisioning.netmask }}"/>
</network>
