#!/bin/bash

export TRIPLEO_ROOT={{ instack_user_home.stdout }}
export CPU=1
export MEM=2048
export DISK=30
export ARCH=amd64
export MACS="{{ installer.environ.macs }}"
export PM_IPS="{{ installer.environ.pm_ips }}"
export PM_USERS="{{ installer.environ.pm_users }}"
export PM_PASSWORDS="{{ installer.environ.pm_passwords }}"
export NeutronPublicInterface=em2
export OVERCLOUD_LIBVIRT_TYPE=kvm
export NETWORK_CIDR="10.0.0.0/8"
export FLOATING_IP_START="172.17.0.45"
export FLOATING_IP_END="172.17.0.64"
export FLOATING_IP_CIDR="172.17.0.0/16"
export COMPUTESCALE=${COMPUTESCALE:-1}
export BLOCKSTORAGESCALE=${BLOCKSTORAGESCALE:-1}
export SWIFTSTORAGESCALE=${SWIFTSTORAGESCALE:-0}

