{% if net_2_name is defined  %}
      {{ net_2_name }}="{{ hostvars[inventory_hostname][net_2_name] }}
{% endif %}
{% if net_3_name is defined %}
      {{ net_3_name }}="{{ hostvars[inventory_hostname][net_3_name] }}"
{% endif %}
{% if  hostvars[inventory_hostname].node_hostgroup is defined %}
      node_hostgroup="{{ hostvars[inventory_hostname].node_hostgroup }}"
{% endif %}
{% if bridge_interfaces is defined %}
      bridge_interfaces="{{ bridge_interfaces }}"
{% endif %}
{% if tempest_private_ip is defined %}
      tempest_private_ip="{{ tempest_private_ip }}"
{% endif %}
{% if private_ip is defined %}
      tempest_default_ip="{{ private_ip }}"
{% endif %}
{% if tempest_public_ip is defined %}
      tempest_public_ip="{{ tempest_public_ip }}"
{% endif %}
