#jinja2: lstrip_blocks:True, trim_blocks:True
{% macro net_add(addresses, name) -%}
    {% if name in addresses and addresses[name].0.addr is defined -%}
        {% set addr = addresses[name].0.addr -%}
        {{name}}="{{ addr }}"
        {% for var_name in varargs -%}
            {{var_name}}="{{ addr }}"
        {%- endfor %}
    {%- endif %}
{%- endmacro -%}

{%- set node = item.0 %}
{% set floating_ip = item.1 %}
{% set nic = provisioner.network.nic %}

{# provisioner is openstack if node contains 'info' #}
{%- if node.info is defined -%}
    {% set addresses = node.info.addresses -%}
    {%- if nic.net_2 is defined -%}
        {{ net_add(addresses, nic.net_2.name, 'tempest_private_ip') }}
    {%- endif %}

    {% if nic.net_3 is defined -%}
        {{ net_add(addresses, nic.net_3.name, 'tempest_public_ip') }}
    {%- endif %}

ansible_ssh_host="{{ floating_ip.public_ip }}"
public_ip="{{ floating_ip.public_ip }}"
private_ip="{{ node.private_ip }}"
net_interfaces="{{ floating_ip.item.value.net_interfaces }}"
{%- endif %}

{# provisioner is rackspace if node contains 'instances' #}
{% if node.instances is defined -%}
    {% set rax_node = node.instances.0 %}
    {% set addresses = rax_node.rax_addresses %}
    {% if nic.net_2 is defined -%}
        {{ net_add(addresses, nic.net_2.name, 'tempest_private_ip') }}
    {%- endif %}

    {% if nic.net_3 is defined -%}
        {{ net_add(addresses, nic.net_3.name, 'tempest_public_ip') }}
    {%- endif %}

ansible_ssh_host="{{ rax_node.accessIPv4 }}"
public_ip="{{ rax_node.accessIPv4 }}"
private_ip="{{ rax_node.rax_addresses.default.0.addr }}"
net_interfaces="{{ rax_node.rax_addresses }}"
{%- endif %}

{% if node.node_hostgroup is defined %}
      node_hostgroup="{{ node.node_hostgroup }}"
{% endif %}
{% if node.hostname is defined %}
     priv_hostname="{{ node.hostname }}"
{% endif %}
{% if node.bridge_interfaces is defined %}
     bridge_interfaces="{{ node.bridge_interfaces }}"
{% endif %}
