export OS_USERNAME=admin
export OS_TENANT_NAME=admin
export OS_PASSWORD={{ hostvars["localhost"].deployment_admin_password | default('redhat') }}
export OS_AUTH_URL=http://{{ hostvars["localhost"].virtual_ips.keystone_private }}:35357/v2.0/
export PS1='[\u@\h \W(keystonerc_admin)]\$ '

