[epel]
name=Extra Packages for Enterprise Linux 6 - $basearch
baseurl=http://{{ epel_repo }}$basearch
#mirrorlist=https://mirrors.fedoraproject.org/metalink?repo=epel-6&arch=$basearch
failovermethod=priority
enabled=1
gpgcheck=0

