[openstack-delorean-{{ product.version }}]
name=OpenStack Delorean Repository
failovermethod=priority
baseurl={{ product.repo[product.repo_type][ansible_distribution][ansible_distribution_version] }}
enabled=1
metadata_expire=7d
gpgcheck=0
priority=1
