class {"glance::api":
    auth_host => "{{ hostvars[nodes.controller.name].ansible_default_ipv4.address }}",
    keystone_tenant => "services",
    keystone_user => "glance",
    keystone_password => "{{ installer.password }}",
    pipeline => 'keystone',
    sql_connection => "mysql://glance:{{ installer.password }}@{{ ansible_default_ipv4.address }}/glance",
    verbose => true,
    debug => true,
}

class { 'glance::backend::file': }

class {"glance::registry":
    auth_host => "{{ hostvars[nodes.controller.name].ansible_default_ipv4.address }}",
    keystone_tenant => "services",
    keystone_user => "glance",
    keystone_password => "{{ installer.password }}",
    sql_connection => "mysql://glance:{{ installer.password }}@{{ ansible_default_ipv4.address }}/glance",
    verbose => true,
    debug => true,
}

class {"glance::keystone::auth":
    password => "{{ installer.password }}",
    public_address => "{{ ansible_default_ipv4.address }}",
    admin_address => "{{ ansible_default_ipv4.address }}",
    internal_address => "{{ ansible_default_ipv4.address }}",
}
