{% set ip = [] %}
{% for grp in ['compute'] -%}
    {%- for h in groups[grp] %}
        {%- if ip.append(hostvars[h].private_ip) %} {%- endif %}
    {%- endfor %}
{% endfor -%}
{{ ip | unique | join(',') }}
