---
- name: Create the EPEL Repository
  template: src=epel.repo.j2 dest=/etc/yum.repos.d/epel.repo
  notify:
    - Yum clean all

- name: ensure spinalstack rpm dependencies
  yum: name={{item}}
  with_items: "{{ ss_installer.rpms }}"

- name: Retrieve public repositories (eNovance)
  git:  repo=https://github.com/enovance/{{ item }}.git
        dest=/tmp/{{ item }}
  with_items:
    - openstack-yaml-infra
    - puppet-openstack-cloud
    - openstack-serverspec
    - config-tools

- name: Retrieve custom repositories (Spredzy)
  git:  repo=https://github.com/Spredzy/{{ item }}.git
        dest=/tmp/{{ item }}
  with_items:
    - spinalstack-env

# Scipts
- name: Copy the scripts file
  command: cp /tmp/config-tools/{{ item }} /usr/bin/
  with_items:
    - configure.sh
    - verify-servers.sh
    - generate.py
    - extract.py
    - merge.py
    - health-check.sh

- name: Create necessary folder
  command: mkdir -p {{ item }}
  with_items:
    - /etc/config-tools

- name: Copy the scripts file
  command: cp /tmp/config-tools/{{ item }} /etc/config-tools/
  with_items:
    - config.tmpl

- name: Create necessary folder
  command: bash -c "merge.py /tmp/openstack-yaml-infra/scenarios/3nodes/infra.yaml /tmp/spinalstack-env/3nodes.yaml > /etc/config-tools/global.yml"

- name: Create necessary folder
  command: bash -c "generate.py 0 /etc/config-tools/global.yml /tmp/config-tools/config.tmpl > /etc/config-tools/config"

# ServerSpec
- name: Create the serverspec files
  command: cp -r /tmp/openstack-serverspec/ /etc/serverspec

- name: Create the serverspec arch.yml.tpml file
  command: cp /tmp/openstack-yaml-infra/arch.yml.tmpl /etc/serverspec/

# Puppet
- name: Create puppet necessary folders
  command: mkdir -p /etc/puppet/{{ item }}
  with_items:
    - manifests
    - data
    - modules

- name: put the configuration files on the right place
  command: cp /tmp/openstack-yaml-infra/data/{{ item }} /etc/puppet/data/{{ item }}
  with_items:
    - common.yaml.tmpl
    - fqdn.yaml.tmpl
    - type.yaml.tmpl

- name: gem install r10k
  command: gem install r10k

- name: Get the module from the Puppetfile
  command: /usr/local/bin/r10k --verbose 3 puppetfile install
  environment:
    PUPPETFILE: /tmp/puppet-openstack-cloud/Puppetfile
    PUPPETFILE_DIR: /etc/puppet/modules

- name: Create the site.pp
  copy: content="Exec {\n
   path => '/bin:/sbin:/usr/bin:/usr/sbin:/usr/local/bin:/usr/local/sbin'\n
   }\n
   hiera_include('classes')\n
   "
    dest=/etc/puppet/manifests/site.pp

