[rhscl-ruby193-epel-6-x86_64]
name=Ruby193 - epel-6-x86_64
baseurl={{ ruby_scl_url }}
{% if (product.name == "rhos" and product.full_version == "havana") or (ansible_distribution != "RedHat") %}
enabled=0
{% else %}
enabled=1
{% endif %}
gpgcheck=0
