#!/bin/bash
set -x

{% if distro.name == 'rhel' %}
yum localinstall -y {{ product.rpm }}
{% else %}
yum -y update centos-release # required for rdo-release install to work
{% endif %}
{% if distro.name == 'rhel' %}
rhos-release -p {{ product.repo.puddle_director_pin_version }} {{ product.full_version }}
{% endif %}

yum install -y https://dl.fedoraproject.org/pub/epel/epel-release-latest-7.noarch.rpm

{% if product.repo.puddle_pin_version is defined and product.repo_type is defined and product.repo_type == 'puddle' %}
rhos-release -p {{ product.repo.puddle_pin_version }} {{ product.repo.core_product_version }}
{% elif product.repo.poodle_pin_version is defined and product.repo_type is defined and product.repo_type == 'poodle' %}
rhos-release  -d -p {{ product.repo.poodle_pin_version }} {{ product.full_version }}
{% elif product.repo.puddle_pin_version is not defined and product.repo_type is defined and product.repo_type == 'puddle' %}
rhos-release {{ product.full_version }}
{% elif product.repo.poodle_pin_version is not defined and product.repo_type is defined and product.repo_type == 'poodle' %}
rhos-release  -d -p {{ product.repo.poodle_pin_version }} {{ product.full_version }}
{% else %}
yum install -y https://rdo.fedorapeople.org/rdo-release.rpm
{% endif %}

yum install -y python-pip python-crypto os-net-config python-novaclient python-neutronclient git jq
pip install pyghmi

cat <<EOF >/usr/local/bin/openstackbmc
$openstackbmc_script
EOF
chmod +x /usr/local/bin/openstackbmc

mkdir /etc/os-net-config
echo "network_config:" > /etc/os-net-config/config.yaml
echo "  -" >> /etc/os-net-config/config.yaml
echo "    type: interface" >> /etc/os-net-config/config.yaml
echo "    name: eth1" >> /etc/os-net-config/config.yaml
echo "    use_dhcp: false" >> /etc/os-net-config/config.yaml
echo "    routes: []" >> /etc/os-net-config/config.yaml
echo "    addresses:" >> /etc/os-net-config/config.yaml

cat <<EOF >/usr/lib/systemd/system/config-bmc-ips.service
[Unit]
Description=config-bmc-ips Service
Requires=network.target
After=network.target
[Service]
ExecStart=/bin/os-net-config --verbose
Type=oneshot
User=root
StandardOutput=kmsg+console
StandardError=inherit
[Install]
WantedBy=multi-user.target
EOF

export OS_USERNAME=$os_user
export OS_TENANT_NAME=$os_tenant
export OS_PASSWORD=$os_password
export OS_AUTH_URL=$os_auth_url

prefix_len=$(neutron subnet-show -f value -c cidr $private_net | awk -F / '{print $2}')

for i in $(seq 1 $bm_node_count)
do
    bm_port="$bm_prefix_$(($i-1))"
    bm_instance=$(neutron port-show $bm_port -c device_id -f value)
    bmc_port="$bmc_prefix_$(($i-1))"
    bmc_ip=$(neutron port-show $bmc_port -c fixed_ips -f value | jq -r .ip_address)
    unit="openstack-bmc-$bm_port.service"

    cat <<EOF >/usr/lib/systemd/system/$unit
[Unit]
Description=openstack-bmc $bm_port Service
Requires=config-bmc-ips.service
After=config-bmc-ips.service
[Service]
ExecStart=/usr/local/bin/openstackbmc  --os-user $os_user --os-password $os_password --os-tenant $os_tenant --os-auth-url $os_auth_url --instance $bm_instance --address $bmc_ip
User=root
StandardOutput=kmsg+console
StandardError=inherit
[Install]
WantedBy=multi-user.target
EOF

    echo "    - ip_netmask: $bmc_ip/$prefix_len" >> /etc/os-net-config/config.yaml
done

# It will be automatically started because the bmc services depend on it,
# but to avoid confusion also explicitly enable it.
systemctl enable config-bmc-ips

for i in $(seq 1 $bm_node_count)
do
    bm_port="$bm_prefix_$(($i-1))"
    unit="openstack-bmc-$bm_port.service"
    systemctl enable $unit
    systemctl start $unit
    systemctl status $unit
done
