# jinja nova configuration template

{% for (key, value) in nodes.controller.storage_object.nova.config[product.version|string].iteritems() %}
[{{ key }}]
{% for (subkey, subvalue) in value.iteritems() %}
{{ subkey }}={{ subvalue }}
{% endfor %}  
{% endfor %}