Host tempest
    ProxyCommand ssh -i ~/.ssh/id_rsa root@{{ job_var.instack_virt_host }} -W {{ instack_ip.stdout }}:22
    IdentityFile id_rsa_virt_host
    IdentitiesOnly yes
    User stack
    StrictHostKeyChecking no
    UserKnownHostsFile=/dev/null

Host undercloud
    ProxyCommand ssh -i ~/.ssh/id_rsa root@{{ job_var.instack_virt_host }} -W {{ instack_ip.stdout }}:22
    IdentityFile id_rsa_virt_host
    IdentitiesOnly yes
    User stack
    StrictHostKeyChecking no
    UserKnownHostsFile=/dev/null

Host undercloud-root
    ProxyCommand ssh -i ~/.ssh/id_rsa root@{{ job_var.instack_virt_host }} -W {{ instack_ip.stdout }}:22
    IdentityFile id_rsa_virt_host
    IdentitiesOnly yes
    User root
    StrictHostKeyChecking no
    UserKnownHostsFile=/dev/null

Host undercloud-from-virthost
    ProxyCommand ssh -i ~/.ssh/id_rsa root@{{ job_var.instack_virt_host }} -W {{ instack_ip.stdout }}:22
    IdentityFile ~/.ssh/id_rsa
    IdentitiesOnly yes
    User root
    StrictHostKeyChecking no

Host controller
    ProxyCommand ssh -i ~/.ssh/id_rsa -F ssh.config.ansible undercloud -W {{ controller_ip.stdout }}:22
    IdentityFile id_rsa_undercloud
    IdentitiesOnly yes
    User heat-admin
    StrictHostKeyChecking no
    UserKnownHostsFile=/dev/null
