export NODE_CPU=1 NODE_MEM=4096 NODE_DISK=40 NODE_ARCH=amd64
export DIB_COMMON_ELEMENTS="pip-cache stackuser common-venv"
export OVERCLOUD_COMPUTESCALE=1
export TRIPLEO_CLEANUP=1

export http_proxy=http://localhost:3128/
