[openstack-{{ product.version }}]
name=OpenStack {{ product.version|capitalize }} Repository
failovermethod=priority
baseurl={{ product.repo[product.repo_type][ansible_distribution][ansible_distribution_version] }}
enabled=1
gpgcheck={{ gpg_check }}
