#jinja2: lstrip_blocks:True, trim_blocks:True
{% set nic = provisioner.network.nic %}
{% set node_info = item.0.info -%}

{% if nic.net_2 is defined -%}
    {% set net_name = nic.net_2.name %}
    {% if  node_info.addresses[net_name].0.addr is defined -%}
      {% set tmp_addr = node_info.addresses[net_name].0.addr %}
      {{ net_name }}='{{tmp_addr }}'
      tempest_private_ip='{{tmp_addr }}'
    {%- endif %}
{%- endif %}

{% if nic.net_3 is defined -%}
    {% set net_name = nic.net_3.name %}

    {% if  node_info.addresses[net_name].0.addr is defined %}
      {% set tmp_addr = node_info.addresses[net_name].0.addr %}
      {{ net_name }}='{{tmp_addr}}'
      tempest_private_ip='{{tmp_addr}}'
    {% endif %}

{%- endif -%}


{% set node_config = item.0.item.value %}
{% if node_config.hostname is defined -%}
     priv_hostname="{{ node_config.hostname }}"
{%- endif %}
{%- if node_config.node_hostgroup is defined -%}
      node_hostgroup="{{ node_config.node_hostgroup }}"
{% endif %}
{%- if node_config.bridge_interfaces is defined -%}
     bridge_interfaces="{{ node_config.bridge_interfaces }}"
{% endif %}
