#!/bin/bash

source ~/stackrc;
openstack overcloud deploy --debug \
                       --templates ~/my_templates/ \
                       --libvirt-type qemu \
                       --ntp-server {{ distro.config.ntp_server_ip }} \
                       --neutron-network-type {{ installer.overcloud.network.backend }} \
                       --neutron-tunnel-types {{ installer.overcloud.network.backend }} \
{% if groups['controller'] is defined %}
                       --control-scale {{ groups['controller']| length }} \
                       --control-flavor controller \
{% endif %}
{% if groups['compute'] is defined %}
                       --compute-scale {{ groups['compute']| length }} \
                       --compute-flavor compute \
{% endif %}
{% if groups['ceph'] is defined %}
                       --ceph-storage-scale {{ groups['ceph']| length }} \
                       --ceph-storage-flavor ceph \
                       -e ~/my_templates/environments/storage-environment.yaml \
{% endif %}
                       --log-file overcloud_deployment_{{ 100 | random }}.log
