#!/bin/bash
export NODES_JSON=nodes.json
export NeutronPublicInterface={{ hw_env.local_interface }}
export OVERCLOUD_LIBVIRT_TYPE=kvm
export NETWORK_CIDR=10.0.0.0/8
export FLOATING_IP_START={{ hw_env.network | default('192.0.2') }}.45
export FLOATING_IP_END={{ hw_env.network | default('192.0.2') }}.64
export FLOATING_IP_CIDR={{ hw_env.network | default('192.0.2') }}.0/24
export BM_NETWORK_GATEWAY={{ hw_env.network | default('192.0.2') }}.1
export NEUTRON_NETWORK_TYPE={{ installer.network.variant.short_name }}
export NEUTRON_TUNNEL_TYPES={{ installer.network.variant.short_name }}
export COMPUTESCALE={{ nodes.compute.scale }}
export BLOCKSTORAGESCALE={{ nodes.blockstorage.scale }}
export SWIFTSTORAGESCALE={{ nodes.swiftstorage.scale }}
