# .coveragerc to control coverage.py 
[run]
branch = True
{% if coverage.modules == 'all' %}
source = {% for module in all_modules %}/usr/lib/python2.7/site-packages/{{ module }}/,{% endfor %}
{% else %}
source = {% for module in coverage.modules.split() %}/usr/lib/python2.7/site-packages/{{ module }}/,{% endfor %}
{% endif %}



data_file = /coverage/data

parallel = True
concurrency = eventlet

[report]
# Regexes for lines to exclude from consideration
exclude_lines =
    # Have to re-enable the standard pragma
    pragma: no cover

    # Don't complain about missing debug-only code:
    def __repr__
    if self\.debug

    # Don't complain if tests don't hit defensive assertion code:
    raise AssertionError
    raise NotImplementedError

    # Don't complain if non-runnable code isn't run:
    if 0:
    if __name__ == .__main__.:

ignore_errors = True

[html]
directory = /coverage/html_report-{{ inventory_hostname }}
