[rhscl-1.0]
name=Red Hat Software Collections 1.0
baseurl=http://{{rhscl_10_repo}}$basearch/os/
enabled=0
gpgcheck=0

[rhscl-1.1]
name=Red Hat Software Collections 1.1
baseurl=http://{{rhscl_11_repo}}$basearch/os/
enabled=0
gpgcheck=0

[mrg-2.3]
name=Red Hat MRG 2.3
baseurl=http://{{mrg_23_repo}}$basearch/MRG/
enabled=1
gpgcheck=0

[rh-common]
name=Red Hat Common
baseurl=http://{{rh_common_repo}}$basearch/os/
enabled=1
gpgcheck=0