---
- name: Ensure common dependencies
  yum: name={{ item }} state=present
  with_items:
    - libselinux-python

- name: Remove yum-rhn-plugin
  yum: name=yum-rhn-plugin state=absent
  notify:
    - Yum clean all
