[tests]
tempest     ansible_ssh_host={{ tempest_ip }} ansible_ssh_private_key_file={{ ansible_env.HOME }}/.vagrant.d/insecure_private_key ansible_ssh_user=root
controller     ansible_ssh_host={{ public_api_ip }} ansible_ssh_private_key_file={{ ansible_env.HOME }}/.vagrant.d/insecure_private_key ansible_ssh_user=root
