export DELETE_COMMAND="openstack overcloud node delete {{ node_id_to_delete.stdout }} --debug {{ installer.deploy.command }} --stack overcloud "

{% if installer.network.isolation != 'none' and installer.env.type != "virthost" %}
export DELETE_COMMAND="$DELETE_COMMAND -e /usr/share/openstack-tripleo-heat-templates/environments/network-isolation.yaml -e ~/network-environment.yaml "
{% endif %}

{% if installer.network.isolation != 'none' and installer.env.type == "virthost" %}
export DELETE_COMMAND="$DELETE_COMMAND -e /usr/share/openstack-tripleo-heat-templates/environments/network-isolation.yaml -e /usr/share/openstack-tripleo-heat-templates/environments/net-single-nic-with-vlans.yaml -e ~/network-environment.yaml "
{% endif %}

{% if installer.network.isolation != 'none' and installer.deploy.type == 'plan' %}
export DEPLOY_COMMAND="$DEPLOY_COMMAND -e ~/plan-parameter-neutron-bridge.yaml "
{% endif %}


