#!/bin/bash
export NODES_JSON=instackenv.json
export CONTROLSCALE={{ installer.nodes.controller.scale | default('1') }}
export COMPUTESCALE={{ installer.nodes.compute.scale | default('1') }}
export BLOCKSTORAGESCALE={{ installer.nodes.blockstorage.scale | default('0') }}
export SWIFTSTORAGESCALE={{ installer.nodes.swiftstorage.scale | default ('0') }}
export CEPHSTORAGESCALE={{ installer.nodes.cephstorage.scale | default ('1') }}

export DEPLOY_COMMAND="openstack overcloud deploy --debug --log-file overcloud_deployment.log --plan-uuid {{ overcloud_uuid }} --neutron-network-type {{ installer.network.variant }} --neutron-tunnel-types {{ installer.network.variant }} --control-scale $CONTROLSCALE --compute-scale $COMPUTESCALE --ceph-storage-scale $CEPHSTORAGESCALE "

{% if installer.env.type != "virthost" %}
export NEUTRON_PUBLIC_INTERFACE={{ hw_env.neutron_public_interface }}
export OVERCLOUD_LIBVIRT_TYPE={{ hw_env.libvirt_type }}
export $DEPLOY_COMMAND="$DEPLOY_COMMAND --libvirt-type=$OVERCLOUD_LIBVIRT_TYPE --neturon-public-interface=$NEUTRON_PUBLIC_INTERFACE "
{% endif %}

{% if  installer.network.network_config_name is defined and installer.env.type != "virthost" %}
export $DEPLOY_COMMAND="$DEPLOY_COMMAND  --floating-ip-cidr {{ hw_env.floating_ip_cidr }} --floating-ip-start {{  hw_env.floating_ip_start }} --floating-ip-end {{ hw_env.floating_ip_end  }} --network-cidr {{ hw_env.network_cidr  }} --bm-network-gateway {{ hw_env.network_gateway }} -e ~/network-environment.yaml -e /usr/share/openstack-tripleo-heat-templates/environments/network-isolation.yaml "
{% endif %}

{% if  installer.network.network_config_name is defined and installer.env.type == "virthost" %}
export $DEPLOY_COMMAND="$DEPLOY_COMMAND -e  /usr/share/openstack-tripleo-heat-templates/environments/net-single-nic-with-vlans.yaml -e /usr/share/openstack-tripleo-heat-templates/environments/network-isolation.yaml "
{% endif %}
