#!/bin/bash
export NODES_JSON=instackenv.json
export NeutronPublicInterface={{ hw_env.neutron_public_interface }}
export OVERCLOUD_LIBVIRT_TYPE=kvm
export NETWORK_CIDR={{ hw_env.network_cidr }}
export FLOATING_IP_START={{ hw_env.network | default('192.0.2') }}.45
export FLOATING_IP_END={{ hw_env.network | default('192.0.2') }}.64
export FLOATING_IP_CIDR={{ hw_env.network | default('192.0.2') }}.0/24
export BM_NETWORK_GATEWAY={{ hw_env.network_gateway }}
export NEUTRON_NETWORK_TYPE={{ installer.network.variant }}
export NEUTRON_TUNNEL_TYPES={{ installer.network.variant }}
export COMPUTESCALE={{ installer.nodes.compute.scale | default('1') }}
export BLOCKSTORAGESCALE={{ installer.nodes.blockstorage.scale | default('0') }}
export SWIFTSTORAGESCALE={{ installer.nodes.swiftstorage.scale | default ('0') }}
export CEPHSTORAGESCALE={{ installer.nodes.cephstorage.scale | default ('0') }}
