[('control', '{{ installer.nodes.controller.scale | default('1') }}'), ('compute', '{{ installer.nodes.compute.scale | default('1') }}'), ('block', '{{ installer.nodes.blockstorage.scale | default('0') }}'), ('swift', '{{ installer.nodes.swiftstorage.scale | default('0') }}'), ('ceph', '{{ installer.nodes.cephstorage.scale | default('1') }}')]
