DEVICE={{ hw_env.vlan[ hw_env.vlan.type ].device }}
ONBOOT={{ hw_env.vlan[ hw_env.vlan.type ].onboot }}
DEVICETYPE={{ hw_env.vlan[ hw_env.vlan.type ].devicetype }}
TYPE={{ hw_env.vlan[ hw_env.vlan.type ].type }}
BOOTPROTO={{ hw_env.vlan[ hw_env.vlan.type ].bootproto }}
IPADDR={{ hw_env.vlan[ hw_env.vlan.type ].ipaddr }}
NETMASK={{ hw_env.vlan[ hw_env.vlan.type ].netmask }}
MTU={{ hw_env.vlan[ hw_env.vlan.type ].mtu }}
OVS_BRIDGE={{ hw_env.vlan[ hw_env.vlan.type ].ovsbridge }}
OVS_OPTIONS={{ hw_env.vlan[ hw_env.vlan.type ].ovsoptions }}
