#!/bin/bash

{% if installer.network.type == "neutron" %}
NETWORK_JSON=$(mktemp)
jq "." <<EOF > $NETWORK_JSON
{
    "float": {
        "cidr": "{{ hw_env.network_cidr  }}",
        "name": "default-net",
        "nameserver": "8.8.8.8"
    },
    "external": {
        "name": "ext-net",
        "cidr": "{{ hw_env.floating_ip_cidr }}",
        "allocation_start": "{{ hw_env.floating_ip_start }}",
        "allocation_end": "{{ hw_env.floating_ip_end  }}",
        "gateway": "{{ hw_env.network_gateway }}"
    }
}
EOF
cat $NETWORK_JSON
setup-neutron -n $NETWORK_JSON
rm $NETWORK_JSON
echo "setup-neutron ran"
{% endif %}
