[
  {
    "name": "Installation",
    "element": [
      "base",
      "yum",
      "iptables",
      "redhat-common",
      "undercloud-install",
      "common-venv",
      "undercloud-package-install",
      "element-manifest",
      "ironic-conductor",
      "ipxe",
      "os-cloud-config",
      "os-net-config",
    ],
    "hook": [
      "extra-data",
      "pre-install",
      "install",
      "post-install",
      "finalise"
    ],
    "exclude-element": [
      "pip-and-virtualenv",
      "ironic",
      "openstack-clients",
      "os-collect-config",
    ],
    "blacklist": [
      "10-cloud-init",
      "50-store-build-settings",
      "99-dkms",
      "99-up-to-date",
      "01-yum-keepcache",
      "05-fstab-rootfs-label",
      "15-fedora-remove-grub",
      "15-remove-grub",
      "00-load-selinux-policy",
      "00-install-and-load-selinux-policy",
      "00-rhel-registration"
    ]
  }
]
