{% if installer.nodes.compute.scale_change is defined %}
export NODE_TO_SCALE_TYPE={{installer.nodes.compute.type}}-{{installer.nodes.compute.type_number | default('1')}}
export NODE_SCALE_CHANGE={{installer.nodes.compute.scale_change}}
{%endif %}
{% if installer.nodes.blockstorage.scale_change is defined %}
export NODE_TO_SCALE_TYPE={{installer.nodes.blockstorage.type}}-{{installer.nodes.blockstorage.type_number | default('1')}}
export NODE_SCALE_CHANGE={{installer.nodes.blockstorage.scale_change}}
{%endif %}
{% if installer.nodes.swiftstorage.scale_change is defined %}
export NODE_TO_SCALE_TYPE={{installer.nodes.swiftstorage.type}}-{{installer.nodes.swiftstorage.type_number | default('1')}}
export NODE_SCALE_CHANGE={{installer.nodes.swiftstorage.scale_change}}
{%endif %}
{% if installer.nodes.cephstorage.scale_change is defined %}
export NODE_TO_SCALE_TYPE={{installer.nodes.cephstorage.type}}-{{installer.nodes.cephstorage.type_number | default('1')}}
export NODE_SCALE_CHANGE={{installer.nodes.cephstorage.scale_change}}
{%endif %}

