{% if groups["virthost"] is defined %}
Host undercloud-root
    ProxyCommand ssh -o UserKnownHostsFile=/dev/null -o StrictHostKeyChecking=no -o ConnectTimeout=60 -i {{ hostvars[groups['virthost'][0]].ansible_ssh_private_key_file }} stack@{{ hostvars[groups['virthost'][0]].ansible_ssh_host }} -W {{ hostvars['localhost'].undercloud_ip }}:22
    IdentityFile id_rsa_undercloud
    User root
    StrictHostKeyChecking no
    UserKnownHostsFile=/dev/null

Host undercloud
    ProxyCommand ssh -o UserKnownHostsFile=/dev/null -o StrictHostKeyChecking=no -o ConnectTimeout=60 -i {{ hostvars[groups['virthost'][0]].ansible_ssh_private_key_file }} stack@{{ hostvars[groups['virthost'][0]].ansible_ssh_host }} -W {{ hostvars['localhost'].undercloud_ip }}:22
    IdentityFile id_rsa_undercloud
    User stack
    StrictHostKeyChecking no
    UserKnownHostsFile=/dev/null

Host undercloud-tunnel-create
    ProxyCommand ssh -f -o UserKnownHostsFile=/dev/null -o StrictHostKeyChecking=no -o ConnectTimeout=60 -i {{ hostvars[groups['virthost'][0]].ansible_ssh_private_key_file }} stack@{{ hostvars[groups['virthost'][0]].ansible_ssh_host }} -L 60080:{{ hostvars['localhost'].undercloud_ip }}:80 -N
    IdentityFile id_rsa_virt_host
    User stack

Host undercloud-tunnel-kill
    ProxyCommand lsof -ti:60080 | xargs kill -9

Host undercloud-from-virthost
    Hostname {{ hostvars['localhost'].undercloud_ip }}
    IdentityFile ~/.ssh/id_rsa
    IdentitiesOnly yes
    User root
    StrictHostKeyChecking no

Host undercloud-from-virthost-as-stack
    Hostname {{ hostvars['localhost'].undercloud_ip }}
    IdentityFile ~/.ssh/id_rsa
    IdentitiesOnly yes
    User stack
    StrictHostKeyChecking no
{%endif %}

{% if groups["virthost"] is not defined and hw_env is defined %}
Host {{ hostvars[groups['undercloud'][0]].ansible_ssh_host }}
    Hostname {{ hostvars[groups['undercloud'][0]].ansible_ssh_host }}
    IdentityFile ~/.ssh/id_rsa
    IdentitiesOnly yes
    User root
    StrictHostKeyChecking no
{%endif %}

{% if groups["overcloud"] is defined %}
{% for host in groups["overcloud"] %}
Host {{ host }}
    ProxyCommand ssh -o UserKnownHostsFile=/dev/null -o StrictHostKeyChecking=no -o ConnectTimeout=60 -i ~/.ssh/id_rsa -F ssh.config.ansible {{ hostvars[groups['undercloud'][0]].ansible_ssh_host }} -W {{ hostvars[host].ansible_fqdn }}:22
    IdentityFile id_rsa_overcloud
    IdentitiesOnly yes
    User heat-admin
    StrictHostKeyChecking no
    UserKnownHostsFile=/dev/null
{%endfor %}
{%endif %}

{% if provisioner.type == "heat" %}
Host undercloud-root
    Hostname {{ floating_ip }}
    IdentityFile {{ provisioner.key_file }}
    IdentitiesOnly yes
    User root
    StrictHostKeyChecking no

Host undercloud
    Hostname {{ floating_ip }}
    IdentityFile {{ provisioner.key_file }}
    IdentitiesOnly yes
    User stack
    StrictHostKeyChecking no
{%endif %}
