export PATH='/usr/local/bin:/bin:/usr/bin:/usr/local/sbin:/usr/sbin:/home/stack/bin'

{% if product.repo_type is defined and product.repo_type in ["poodle", "puddle"] %}
export DIB_LOCAL_IMAGE={{ distro.images[distro.name][distro.full_version].guest_image_name }}
export DIB_YUM_REPO_CONF="{{installer.dib_dir}}/rhos-release-{{product.repo.core_product_version}}-director.repo {{installer.dib_dir}}/rhos-release-{{product.repo.core_product_version}}.repo {{installer.dib_dir}}/rhos-release-rhel-{{distro.full_version}}.repo"
export USE_DELOREAN_TRUNK=0
export RHOS=1
export NODE_DIST=rhel7
{%endif %}

{% if product.repo_type_override is defined and product.repo_type_override == 'rhsm' %}
export DIB_LOCAL_IMAGE={{ distro.images[distro.name][distro.full_version].guest_image_name }}
export NODE_DIST=rhel7
export REG_METHOD=portal
export REG_USER="{{ distro.rhel.subscription.username }}"
export REG_PASSWORD="{{ distro.rhel.subscription.password }}"
export REG_POOL_ID="{{ distro.rhel.subscription.physical_pool }}"
export REG_REPOS="rhel-7-server-rpms rhel-7-server-extras-rpms rhel-ha-for-rhel-7-server-rpms rhel-7-server-optional-rpms rhel-7-server-openstack-7.0-rpms"
{%endif %}

{% if product.name == "rdo" and distro.name == "rhel" and product.repo_type_override is defined and product.repo_type_override == 'rhos-release' %}
export DIB_LOCAL_IMAGE={{ distro.images[distro.name][distro.full_version].guest_image_name }}
export DIB_YUM_REPO_CONF="/etc/yum.repos.d/rhos-release-7-director.repo /etc/yum.repos.d/rhos-release-7.repo /etc/yum.repos.d/rhos-release-rhel-7.1.repo"
export NODE_DIST=rhel7
{%endif %}

{% if product.name == "rdo" and distro.name == "centos" %}
export DIB_LOCAL_IMAGE={{ distro.images[distro.name][distro.full_version].guest_image_name }}
export NODE_DIST=centos7
{%endif %}

export NODE_COUNT={{ installer.nodes.node_count | default('3') }}

{% if installer.nodes.node_mem is defined %}
export NODE_MEM={{ installer.nodes.node_mem | default('4096') }}
{%endif %}

{% if installer.nodes.node_cpu is defined %}
export NODE_CPU={{ installer.nodes.node_cpu | default('1') }}
{%endif %}

{% if installer.nodes.node_disk is defined %}
export NODE_DISK={{ installer.nodes.node_disk | default('50') }}
{%endif %}

{% if installer.nodes.undercloud_node_mem is defined %}
export UNDERCLOUD_NODE_MEM={{ installer.nodes.undercloud_node_mem | default('4096') }}
{%endif %}

{% if installer.nodes.undercloud_node_cpu is defined %}
export UNDERCLOUD_NODE_CPU={{ installer.nodes.undercloud_node_cpu | default('1') }}
{%endif %}

{% if product.full_version == "7-director" and installer.network.isolation != "none" %}
export TESTENV_ARGS=" --baremetal-bridge-names 'brbm' --vlan-trunk-ids='10 20 30 40 50'"
{%endif %}

{% if product.full_version != "7-director" and installer.network.isolation != "none" %}
export TESTENV_ARGS=" --baremetal-bridge-names 'brbm' "
{%endif %}

{% if installer.proxy != 'none' %}
export http_proxy={{ installer.http_proxy_url }}
{%endif %}
