---
ntp_server: clock.redhat.com
os_auth_url: 'http://qeos.lab.eng.rdu2.redhat.com:5000/v2.0'
os_username: name
os_password: pass
os_tenant_name: tenant_name
node_prefix: playpen
network_ids:
  - net-id: 3721f603-3234-4c14-b8c7-e230f592eb15
image_id: image_id
ssh_private_key: /home/path/to/key.pem
ssh_key_name: test_key
foreman_fqdn: test.example.com
