# jinja swift configuration template

{% for (key, value) in nodes.controller.storage_object.swift.config[product.full_version].iteritems() %}
[{{ key }}]
{% for (subkey, subvalue) in value.iteritems() %}
{{ subkey }}={{ subvalue }}
{% endfor %}
{% endfor %}
