#!/bin/bash

python tools/config_tempest.py \
  --out etc/tempest.conf \
  --debug  \
  --create \
  identity.uri http://{{ hostvars[provisioner.nodes.controller.name].ansible_default_ipv4.address }}:5000/v2.0/ \
  compute.allow_tenant_isolation true \
  object-storage.operator_role SwiftOperator \
  identity.admin_password {{ hostvars[provisioner.nodes.controller.name].admin_password|default('redhat') }} \
  identity.password {{ hostvars[provisioner.nodes.controller.name].demo_password|default('secrete') }}
