#!/bin/bash

python tools/config_tempest.py \
{% if tester.guest_image is defined %}
  --image {{ tester.guest_image.url }} \
{% endif %}
{% if public_network_uuid is defined  %}
  --network-id {{ public_network_uuid }} \
{% endif %}
{% if deployer_input_path is defined and deployer_input_path.stat.exists %}
  --deployer-input {{ deployer_input }} \
{% endif %}
  --out etc/tempest.conf \
  --debug  \
  --create \
  {% if tester.tempest.config_options is defined %}
    {% for opt in tester.tempest.config_options %}
      {{ opt }} \
    {% endfor %}
  {% endif %}
  identity.uri $OS_AUTH_URL \
  compute.allow_tenant_isolation true \
  object-storage.operator_role SwiftOperator \
  identity.admin_password $OS_PASSWORD
