export PRIVATE_CONTROLLER_IP={{ private_controller_ip }}
export PRIVATE_INTERFACE={{ private_interface }}
export PRIVATE_NETMASK={{ private_netmask }}
export PUBLIC_CONTROLLER_IP={{ public_controller_ip }}
export PUBLIC_INTERFACE={{ public_interface }}
export PUBLIC_NETMASK={{ public_netmask }}
export FOREMAN_GATEWAY=false
export FOREMAN_PROVISIONING=false
