Host libvirt_host 
    User                   root
    HostName               {{ hostvars['libvirt_host'].ansible_ssh_host }}
    ProxyCommand           none
    IdentityFile           {{ key_file }}
    BatchMode              yes
    PasswordAuthentication no
