  # NIC Configs for our roles
  OS::TripleO::Compute::Net::SoftwareConfig: ../network/config/three-nics-vlans/compute.yaml
  OS::TripleO::Controller::Net::SoftwareConfig: ../network/config/three-nics-vlans/controller.yaml
{% if groups['ceph'] is defined %}
  OS::TripleO::CephStorage::Net::SoftwareConfig: ../network/config/three-nics-vlans/ceph-storage.yaml
{% endif %}
{{ installer.overcloud.network.template.content | to_yaml }}
