class { 'tempest':
  tempest_repo_uri          => 'git://github.com/openstack/tempest.git',
  tempest_repo_revision     => '{{ tempest['revision'] }}',
  tempest_clone_path        => '{{ tempest['checkout_dir'] }}',
  #tempest_clone_owner       => 'root',

  setup_venv                => true,

  # Glance image config
  # turn off the auto-config in tempest/manifest/init.pp
  configure_images          => false,

  # Neutron network config

  # turn off the auto-config in tempest/manifest/init.pp
  configure_networks        => false,
  public_network_name       => 'public',

  ## tempest.conf parameters

  identity_uri              => $::identity_uri,
  # non admin user
  username                  => 'demo',
  password                  => {{ tempest.demo_password | default('redhat') }},
  tenant_name               => 'demo',
  # another non-admin user
  alt_username              => undef,
  alt_password              => undef,
  alt_tenant_name           => undef,
  # admin user
  admin_username            => 'admin',
  admin_password            => {{ tempest.admin_password | default('redhat') }},
  admin_tenant_name         => 'admin',
  ## image information
  image_name                => 'cirros',
  image_ref                 => $::image_ref,
  image_name_alt            => 'cirros',
  image_ref_alt             => $::image_ref_alt,
  image_ssh_user            => 'cirros',
  image_alt_ssh_user        => undef,

  #flavor_ref               => undef,
  #flavor_ref_alt           => undef,

  ## whitebox
  whitebox_db_uri           => undef,

  ## testing features that are >supported
  resize_available          => false,
  change_password_available => undef,

  # neutron config
  public_network_id         => $::public_network_id,
  public_router_id          => '',

  # Service configuration
  cinder_available          => true,
  glance_available          => true,
  heat_available            => false,
  horizon_available         => true,
  neutron_available         => true,
  nova_available            => true,
  swift_available           => false
}
