#!/bin/bash
. {{ tempest.dir }}/.venv/bin/activate
python {{ tempest.dir }}/tools/config_tempest.py \
        --out "{{ tempest.dir }}/etc/tempest.conf" \
        --debug  --create \
{% if job.ha_configuration | default(false) %}
        identity.uri "http://{{ hostvars['localhost'].virtual_ips.keystone_public }}:5000/v2.0/" \
        identity.admin_password "{{ hostvars['localhost'].deployment_admin_password | default('redhat') }}" \
        identity.password "{{ hostvars['localhost'].deployment_demo_password | default('secrete') }}" \
{% else %}
         identity.uri "http://{{ hostvars[controller_name].ansible_default_ipv4.address }}:5000/v2.0/" \
         identity.admin_password "{{ tempest_admin_password.stdout | default('redhat') }}" \
         identity.password "{{ tempest.demo_password | default('secrete') }}" \
{% endif %}
        compute.allow_tenant_isolation true \
        object-storage.operator_role SwiftOperator \
        compute.image_ref "{{ cirros_id.stdout }}" \
        compute.image_ref_alt "{{ cirros_id.stdout }}" \
        compute.build_timeout 500 \
        compute.image_ssh_user cirros \
        compute.ssh_user cirros \
        network.build_timeout 500 \
        volume.build_timeout 500 \
        scenario.ssh_user cirros \
        scenario.img_dir ..
