#!/bin/bash

export UPDATE_COMMAND="/usr/bin/yes '' | openstack overcloud update stack -i overcloud --debug"

{% if installer.deploy.type == 'plan' %}
export UPDATE_COMMAND="$UPDATE_COMMAND --plan {{ overcloud_uuid }}"
{% endif %}

{% if installer.deploy.type == 'templates' %}
export UPDATE_COMMAND="$UPDATE_COMMAND --templates /usr/share/openstack-tripleo-heat-templates -e /usr/share/openstack-tripleo-heat-templates/overcloud-resource-registry-puppet.yaml "
{% endif %}

{% if installer.network.isolation != 'none' %}
export UPDATE_COMMAND="$UPDATE_COMMAND -e /usr/share/openstack-tripleo-heat-templates/environments/network-isolation.yaml "
export UPDATE_COMMAND="$UPDATE_COMMAND -e /usr/share/openstack-tripleo-heat-templates/environments/net-single-nic-with-vlans.yaml "
{% endif %}

{% if installer.network.isolation != 'none' and installer.deploy.type == 'plan' %}
export UPDATE_COMMAND="$UPDATE_COMMAND -e ~/plan-parameter-neutron-bridge.yaml "
{% endif %}

export UPDATE_COMMAND="$UPDATE_COMMAND -e /usr/share/openstack-tripleo-heat-templates/environments/updates/update-from-keystone-admin-internal-api.yaml "

{% if installer.network.isolation != 'none' %}
export UPDATE_COMMAND="$UPDATE_COMMAND -e ~/network-environment.yaml "
{% endif %}

{% if installer.network.isolation == 'none' and product.build_version == 'ga-7.0' %}
export UPDATE_COMMAND="$UPDATE_COMMAND -e /usr/share/openstack-tripleo-heat-templates/environments/updates/update-from-publicvip-on-ctlplane.yaml "
{% endif %}

export UPDATE_COMMAND="$UPDATE_COMMAND -e ~/default-overcloud-settings.yaml"
